.app{
  
}
body {
	background: #121621;
}
h1,h2{
color: white;
}
.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: orange;
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.loading{
  color: white;
  margin-left: 50px;
}

li{
  background:radial-gradient(#9b59b6, #8e44ad);
  width: 90%;
}
a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
}
p{
  color: red;
  font-size: 20px;
}
ul{
  list-style: none;
}
.form__input2{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1rem 1rem;
  margin-top: 20px;
  border-radius: 0.2rem;
  background-color: white;
  border: none;
  width: 35%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}


